Title: Example JS Call
---
<div>
    <button id="jsbutton">Example JS Call</button>
    <button id="clearbutton">Clear</button>

    <div>
        <p id="outputArea"></p>
    </div>
</div>

<script src="/assets/js/jsexample.js"></script>